@model UserResetPasswordVM

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    .hataMesajıKırmızı {
        color: red;
    }

    .beyaz {
        color: snow;
    }
</style>

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form asp-action="UpdatePassword" asp-controller="User" method="post">

                <h1>Şifre Yenileme</h1>

               <div>
                    <input asp-for="Email" type="email" class="form-control" placeholder="e-mail giriniz..." required>
                    <span asp-validation-for="Email" class="form-text text-muted"></span>
                </div>
               <div>
                    <input asp-for="CurrentPassword" type="text" class="form-control" placeholder="e-mail ile gelen sifre..." required>
                    <span asp-validation-for="CurrentPassword" class="form-text text-muted"></span>
                </div>
                <div>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Yeni şifrenizi giriniz..." required>
                    <span asp-validation-for="NewPassword" class="form-text text-muted"></span>
                </div>
                <div>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Yeni şifrenizi giriniz..." required>
                    <span asp-validation-for="ConfirmPassword" class="form-text text-muted"></span>
                </div>

                @if (ViewBag.Message != null)
                {
                    <h6 class="hataMesajıKırmızı">@ViewBag.Message</h6>
                }

                <div>
                    <button type="submit" class="btn btn-default mt-30 beyaz">Şifreyi Yenile</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="invisible change_link">
                        New to site?
                        <a href="#signup" class="to_register"> Create Account </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-paw"></i> HR Management</h1>
                        <p class="invisible">©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                    </div>
                </div>

                <div class="invisible item">
                    <label asp-for="Email">
                        <input asp-for="Email" value=@Model.Email class="form-control" />
                    </label>
                </div>

            </form>
        </section>
    </div>
</div>
